server {
  listen   80 default_server;
  root {{ site_dir }};
  index index.php;
  
  server_name _;
  location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar)$ {
    try_files $uri $uri/ =404;
    expires  max;
  }
  location / {
    try_files $uri $uri/ =404;
    if (!-e $request_filename) {
        rewrite ^(.*)$ /bitrix/urlrewrite.php;
    }
  }
  location ~ \.php$ {
    fastcgi_pass unix:{{ fpm_socket }};
    fastcgi_param  SCRIPT_FILENAME  {{ site_dir }}$fastcgi_script_name;
    include fastcgi_params;
  }
}

